/node_modules
/public/hot
/public/storage
/storage/*.key
backend/.env
frontend/node_modules
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/backend/public/adm/
/backend/public/css/
/backend/public/fonts/
/backend/public/img/
/backend/public/js
/backend/public/loader.css
/backend/public/logo.png
/backend/public/favicon.ico
/backend/public/files
